// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) Arrow Electronics 2020 - All Rights Reserved
 * Author: Botond Kardos <botond.kardos@arroweurope.com> for Arrow Electronics
 */
/dts-v1/;

#include "stm32mp157a-av96.dtsi"

/ {
	model = "Arrow Electronics STM32MP157A Avenger96 board";
	compatible = "st,stm32mp157a-av96", "st,stm32mp157c-ed1", "st,stm32mp157";
};

&m4_i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_a>;
	status = "okay";
};
